
.slide {
    width: 70vw;
    height: calc(100vh - 100px);
    position: relative;
    background-color: #f5f5f5;
    box-shadow: 20px 15px 30px gray;
    border-radius: 0 20px 20px 0px;


}
.slide .item {
    width: 200px;
    height: 300px;
    position: absolute;
    transform: translate(0, 50%);
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    transition: 1s;
    box-shadow: 15px 15px 20px rgb(43, 43, 43);
    background-repeat: no-repeat;

}
.home-slide {
    width: 100%;
    height: calc(100vh - 137px);
    overflow: hidden;

}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 20px 20px 0;

}

.slide .item:nth-child(3) {
    left: calc(60% + 250px);
}

.slide .item:nth-child(4) {
    left: calc(60% + 500px);
}

.slide .item:nth-child(n+5) {
    left: calc(60% + 750px);
    opacity: 0;
}
